<form [formGroup]="studentForm" (submit)="submit()">
    <mat-card>
        <mat-card-title>
            {{title}}
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
                <mat-error>
                    {{studentForm.controls['firstName'].errors | validator:'First Name'}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                <mat-error>
                    {{studentForm.controls['lastName'].errors | validator:'Last Name'}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option [value]="gender.BOY">{{gender.BOY | gender}}</mat-option>
                    <mat-option [value]="gender.GIRL">{{gender.GIRL | gender}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!studentForm.valid">
                {{button}}
            </button>
        </mat-card-actions>
    </mat-card>
</form>