<mat-card>
    <mat-card-title (click)="getGrades()">
        {{student.lastName}} {{student.firstName}}
    </mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <td>Пол: </td> <td>{{student.gender | gender}}</td>
            </tr>
        </table>
        <app-curriculum [curriculum]="student.curriculum!">
        </app-curriculum>
    </mat-card-content>
</mat-card>